# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# typescript output files from "tsc" build
dist

# terraform output files from "init" and state files
infrastructure/.terraform
terraform.tfstate
terraform.tfstate.backup